@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Учет орг. техники</h1>
    @*<p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>*@
    <p/>
    <div class="text-center">
        <a class="nav-link text-dark" asp-area="" asp-page="\References">Справочники</a>
    </div>
</div>
